@font-face{
font-family:'devil';
src: url('fonts/MYBLS___.ttf');
}

body{
  background: url('images/messy_rope.jpg');
  background-position: center;
  background-size: cover;
  font-family: 'devil', cursive;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}

#skull{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: none;
  opacity: 70%;
  color: red;
}

header{
  background-color: rgba(10,10,10,0.7)
}
main{
  display: flex;
  justify-content: space-around;
  flex: 1;
}

button {
    background-color: black;
    border: 2px solid #B70015;
    color: white;
    font-family: 'devil', cursive;
    letter-spacing: 2px;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    width: 250px;
    height: 75px;
    animation:  buttonMove 1s infinite;
}

@keyframes buttonMove {
  0% { font-size: 14px }
  50% { font-size: 16px }
  100% { font-size: 14px}
}

#resetButton {
  display: none;
}

#winButton {
  display: none;
}

div{
  /*border: 2px solid #B70015;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

aside{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  max-width: 200px;
}

section{
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 0 0;
}

h1{
  color: red;
  font-size: 50px;
  text-shadow: 4px 4px #000;
}

#guess{
  animation: test 1s 4;
}

@keyframes test {
  0% {color: #B70015;}
  50% {color: white;}
  100% {color: #B70015;}
}

h3{
  text-shadow: 4px 4px #000;
  color: #B9BEBE;
  animation: skull 2s infinite;
}

h2{
  margin: 5px auto;
  text-shadow: 4px 4px #000;
  color: #B70015
}

p {
  margin: 0;
}


.sidebar{
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0 0 0;
  background-color: rgba(255,255,255,0.8);
  border: 4px solid black;
  color: black;
  margin: 40px 10px;
}

#usedletters{
  display: flex;
  flex-direction: row;
}

.unused{
  color: white;
  margin: 0 3px 0 0;
  padding: 0;
  font-size: 20px;
  display: inline;
  text-decoration: none;
}

.used{
  color: #444;
  margin: 0 3px 0 0;
  padding: 0;
  font-size: 20px;
  display: inline;
  text-decoration: none;
  }
}

footer{
  width: 100%;
  background-color: rgba(10,10,10,0.7);
}

.footerdiv{
  width: 100%;
  background-color: rgba(10,10,10,0.7);
}

.letterDiv{
  border: none;
  border-bottom: thick solid #B70015;
  width: 20px;
  margin: 10px 5px;
}

.spaceDiv{
  /*border-style: solid;*/
  border: none;
  width: 20px;
  margin: 0px 5px;
}

.letterSpan{
  display: none;
  font-size: 40px;
}

.social-media-img {
	height: 40px;
	width: 40px;
  margin: 0 10px;
}

#letterSpaces{
  height: 30vh;
}

#contact{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#animation{
  background: rgba(255,255,255,0.8);
  color: black;
  flex-grow: 3;
  border: 4px solid grey;
  margin: 20px 20px;
  box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.8);
  max-width: 400px;
}

#score>div, #timer>div{
  font-size: 60px;
  text-shadow: 2px 2px #B70015;
}

.newHighScore{
  text-shadow: 2px 2px #ffffff;
  animation: colorChange 1s infinite;
}

@keyframes colorChange {
  0% {color: black;}
  50% {color: green;}
  100% {color: black;}
}
