body{
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main{
  display: flex;
  flex: 1;
}

div{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside{
  flex-grow: 1;
}

p {
  margin: 0;
}


.sidebar{
  height: 198px;
}

.footerdiv{
  margin: 10px 0 0 0;
  height: 20vh;
  width: 100%;
  /*display: flex;
  flex-direction: row;*/
}

.letterDiv{
  /*border-style: solid;*/
  border-bottom: thick solid red;
  width: 20px;
  margin: 15px 5px;
}

.spaceDiv{
  /*border-style: solid;*/
  border: none;
  width: 20px;
  margin: 15px 5px;
}

.letterSpan{
  display: none;
}

section{
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: center;
}

h2{
  margin: 5px auto;
}

#animation{
  height: 400px;
  flex-grow: 4;
}
